.hobbiesDiv {
	background-color: rgb(0, 191, 225);
}

@font-face {
  font-family: 'InterBold';
  src: url(/Inter-Bold.ttf) format('truetype');
}

.hobbiestext {
	font-family: 'InterBold';
	text-align: center;
}
