.hobbiesDiv {
	background-color: #3581B8;
}

@font-face {
  font-family: 'InterBold';
  src: url(/Inter-Bold.ttf) format('truetype');
}

.hobbiestext {
	font-family: 'InterBold';
	text-align: center;
}
