$introductionDiv: #000000;
.introductionDiv {
  background-color: $introductionDiv;
}
@font-face {
  font-family: 'InterBold';
  src: url(/Inter-Bold.ttf) format('truetype');
}
.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 700%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
}
.crawl {
  position: relative;
  top: 20%;
  transform-origin: 50% 100%;
}
.icons {
  display: block;
  margin: auto;
  height: inherit;
}
