$Welcome: #0f172a; 
$introductionDiv: #1e293b;
$HobbiesDiv: rgb(31,41,55);
$ProjectsDiv: rgb(0,58,138);
$cyellow: #FFD400;
.Welcome {
    background-color: transparent;
	color: white;
	// background-image: url('/starwarspattern.png');
	// background-repeat: repeat;
	// background-size: 400px 400px; 
}

.WelcomeText {
    color: $cyellow;
}


.IntroductionDiv {
    background-color: transparent; 
	color: white;
}

.HobbiesDiv {
	color: #FFE66D;
	background-size: 400px 275px;
	background-image: url("./clouds.jpg");
}

.ProjectsDiv {
	color: white;
    background-color: $ProjectsDiv;
}
