$Welcome: #0f172a; 
$introductionDiv: #1e293b;
$HobbiesDiv: rgb(31,41,55);
$ProjectsDiv: rgb(30,58,138);
$cyellow: #FFD400;
.Welcome {
    background-color: transparent;
	// background-image: url('/starwarspattern.png');
	// background-repeat: repeat;
	// background-size: 400px 400px; 
}

.WelcomeText {
    color: $cyellow;
}


.IntroductionDiv {
    background-color: transparent; 
}

.HobbiesDiv {
    background-color: $HobbiesDiv;
}

.ProjectsDiv {
    background-color: $ProjectsDiv;
}
