//for reference this is saved on coolors account
$eggshell: #F1E9DA;
$dpink: #D90368;
$dblue: #2E294E;
$cyellow: #FFD400;
$charcoal: #454851;

// @font-face {
//     font-family: 'InterBold';
//     font-style: bold;
//     font-weight: 700;
//     src: local('InterBold'),
//         url('../fonts/Inter-Bold.ttf') format('truetype');
// }

.background {
    background-color: #000000
}

.hi {
    color: $cyellow;
}



